# API-Football (https://www.api-football.com/)
API_FOOTBALL_KEY=b15c519744299a2325d20ac6fb5ceb21

# OpenAI
OPENAI_API_KEY=your_openai_api_key_here

# Telegram Bot
TELEGRAM_BOT_TOKEN=8545554053:AAHWyiTiBHmRQwU_GyiuDth_NLhliqud4Tc
TELEGRAM_CHAT_ID=854943771
